<%=form_with model: @booking, method: :get do |f| %>
<%= f.label :departure_date %>
<%= f.text_field :start_date_time, value: @start_date_time %>

<div>
 <%= f.label :passengers %>
 <%= f.number_field :passengers, value: @passengers %>

 <%= f.label :flight_id %>
 <%= f.number_field :flight_id, value: @flight_id %>
</div>


  <% @passengers.to_i.times do %>
    <%= f.fields_for :passengers do |passengers_form| %>

    <div>
    <%= passengers_form.label :email %>
    <%= passengers_form.text_field :email %>
    </div>


    <div>
    <%= passengers_form.label :name %>
    <%= passengers_form.text_field :name %>
    </div>

    <% end %>
  <% end %>

 <%= f.submit %>
<% end %>
