<%=form_with model: @booking, method: :post do |f| %>
<% f.hidden_field :passenger_id%>

<%= f.label :departure_date %>
<%= f.text_field :start_date_time %>

<div>
 <%= f.label :passengers %>
 <%= f.number_field :number_of_passengers%>

 <%= f.label :flight_id %>
 <%= f.number_field :flight_id %>
</div>

    <%= f.fields_for :passengers do |passengers_form| %>
    <% passengers_form.hidden_field :id %>
    <div>
    <%= passengers_form.label :email %>
    <%= passengers_form.text_field :email %>
    </div>


    <div>
    <%= passengers_form.label :name %>
    <%= passengers_form.text_field :name %>
    </div>

  <% end %>

 <%= f.submit %>
<% end %>

<%= @booking.number_of_passengers%>
